{% extends 'main_app/layout.html' %}

{% block title %} Create language of story {% endblock %}

{% block content %}
<div class="features">
    <h1>Create translation story</h1>
    <div class="tank-forms">
         <div class="head-polaroid static_i18n">
             <form action="{% url 'add_story_i18n' pk_st=1 %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form_story_i18n.media }}
                {% for form in form_story_i18n %}
                    <p><label class="title-label-i18n" for="{{ form.id_for_label }}">{{form.label}}: </label>{{ form }}</p>
                    <div class="form-error">{{ form.errors }}</div>
                {% endfor %}

                 <div class="div-bt">
                     <button class="button button_save" type="submit"><i class="fas fa-plus-circle" style="font-size: 1.2rem; color: #183153;"></i> Add</button>
                     <a href="{% url 'story_details' form_story_i18n.story.value %}" class="button button_del"><i class="fa-solid fa-rectangle-xmark" style="font-size: 1.25rem; color: #183153;"></i>  Cancel</a>
                 </div>
             </form>
         </div>
    </div>

</div>
{% endblock %}
