{% extends 'main_app/layout.html' %}

{% block title %} Stories {% endblock %}

{% load blog_extras %}

{% block content %}
<div class="features">
    <h1>Stories ({{ stories_key.count }})</h1>

    <form action="{% url 'filter' %}" method="get" class="form-filter">
        {% csrf_token %}
        <div class="row-filter">
             <div class="filter-block">
                <h3 class="left-h3">Category:</h3>
                 <div class="div-filter">
                    <input type="checkbox" class="checked" name="categ_tip_val" value="{% if categ_tip_val %}True{% else %}True{% endif %}" {% if request.GET.categ_tip_val %}checked{% endif %}>
                    <span class="span editContent"> Tips</span>
                </div>
                <div class="div-filter">
                    <input type="checkbox" class="checked" name="categ_news_val" value="{% if checkbox_checked %}True{% else %}False{% endif %}" {% if request.GET.categ_news_val %}checked{% endif %}>
                    <span class="span editContent"> News</span>
                </div>
            </div>
            <div class="filter-block">
                <h3 class="left-h3">Another:</h3>
                <div class="div-filter">
                    <input type="checkbox" class="checked" name="hidden_val" value="True" {% if request.GET.hidden_val %}checked{% endif %}>
                    <span class="span editContent"> Hide in stories</span>
                </div>
                <div class="div-filter">
                    <input type="checkbox" class="checked" name="deleted_val" value="False" {% if request.GET.deleted_val %}checked{% endif %}>
                    <span class="span editContent"> Not deleted</span>
                </div>
                <div class="div-filter">
                    <input type="checkbox" class="checked" name="date_val" value="True" {% if request.GET.date_val %}checked{% endif %}>
                    <span class="span editContent"> Today: {% now "M d, Y" %}</span>
                </div>
            </div>
        </div>
        <button class="button button_grey" type="submit"><i class="fa-solid fa-filter" style="font-size: 1.1rem;  color: #183153;"></i> Filter</button>
    </form>

    <div class="grid-story">
        {% if stories_key %}
        {% for el in stories_key %}

        <div class="polaroid">
            <div class="container">
                <div class="item-center-bold story-title">Id:</div>
                <div class="item-center-normal story-text">{{ el.pk }}</div>
                <div class="item-center-bold story-title">Category:</div>
                <div class="item-center-normal story-text">{{ el.category }}</div>
                <div class="item-center-bold story-title">Fresh after:</div>
                <div class="item-center-normal story-text">{{ el.fresh_after }}</div>
                <div class="item-center-bold story-title">Fresh before:</div>
                <div class="item-center-normal story-text">{{ el.fresh_before }}</div>

                <div class="item-center-bold story-title">Hide in stories:</div>
                <div class="item-center-normal story-text">{{ el.hide_in_stories }}</div>
                <div class="item-center-bold story-title">Deleted:</div>
                <div class="item-center-normal story-text">{{ el.deleted }}</div>

                {% if el.storiesi18n_stories.all %}
                {% for i18n in el.storiesi18n_stories.all %}
                   {% if i18n.language|lower == 'de' %}
                        <div class="grid-two-columns item-center-bold i18n-title">Title image:</div>
                        <div class="grid-two-columns grid-img"><img src={{ i18n.title_image.url|unquote_new  }} alt="Title image"></div>
                        <div class="grid-two-columns item-left-bold i18n-title">Title:</div>
                        <div class="grid-two-columns item-left-normal i18n-text">{{ i18n.title|convert_markdown|safe }}</div>
                        <div class="grid-two-columns item-left-bold i18n-title">Subtitle:</div>
                        <div class="grid-two-columns item-left-normal i18n-text">{{ i18n.subtitle|convert_markdown|safe }}</div>
                    {% endif %}
                {% endfor %}
                {% else %}
                    <div class="grid-two-columns item-left-bold i18n-title"><p>There is no story in German</p></div>
                {% endif %}

                <div class="grid-two-columns item-center-normal">
                    {% if request.user.is_staff %}
                        <a href="{% url 'copy_story' el.pk %}" class="button button_copy" onclick="return confirm('Do you really want to copy &quot;Story id:{{ el.pk }}&quot;?')"><i class="fa-regular fa-copy" style="font-size: 1.1rem; color: #183153;"></i> Copy</a>
                        <a href="{% url 'edit_story' el.pk %}" class="button button_edit"><i class="fa-solid fa-pen-to-square" style="font-size: 1.1rem; color: #183153;"></i> Edit</a>
                    {% endif %}
                    <a href="{% url 'story_details' el.pk %}" class="button button_read">Details <i class="fa-solid fa-right-to-bracket" style="font-size: 1.1rem; color: #183153;"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>There is no story</p>
        {% endif %}
    </div>

</div>
{% endblock %}
